<div class="d-flex justify-content-between align-items-center mb-2">
  <span class="spinner-border spinner-border-sm text-primary me-3-" *ngIf="_spin"></span> 
  <span class="" *ngIf="!_spin"><i class="bi-arrow-clockwise text-white" (click)="refresh()"></i></span> 
  <div class="position-relative">
    <div role="group" class="gl-w-full btn-group-">
      <!-- <button aria-label="Add placeholder" type="button" class="btn btn-default btn-md gl-button btn-icon me-3" (click)="_onCreatePlcaholder()" *ngIf="_editPlaceholders" [disabled]="_createPlaceholder">
        <span class="">{{ 'APP.BUTTON.CreateNewPlaceholder' | translate }}</span>
      </button> -->
      <button aria-label="Add placeholder" type="button" class="btn btn-default btn-md gl-button btn-icon" [class.me-3]="templatePlaceholders.length" (click)="_onNew()" *ngIf="(_editPlaceholders && !(_isNew || _createPlaceholder)) || !templatePlaceholders?.length" [disabled]="_createPlaceholder">
        <span class="">{{ 'APP.BUTTON.AddPlaceholder' | translate }}</span>
      </button>
      <button type="button" class="btn btn-default btn-md gl-button btn-icon" (click)="_onEditPlaceholders($event)" [tooltip]="(_editPlaceholders ? '' : 'APP.TOOLTIP.EditPlaceholders') | translate" placement="left" *ngIf="templatePlaceholders?.length">
        <span *ngIf="!_editPlaceholders"><i class="bi-pencil"></i></span>
        <span *ngIf="_editPlaceholders"><i class="bi-x-lg"></i><span class="ms-2">{{ 'APP.BUTTON.Cancel' | translate }}</span></span>
      </button>
    </div>
  </div>
</div>
<div class="PLACEHOLDERS-LIST-FLEX py-2" *ngIf="_flexList">
  <div class="list-group-item placeholder-box text-center py-3" *ngIf="!templatePlaceholders?.length">
    <span class="">{{ 'APP.MESSAGE.NoPlaceholder' | translate }}</span>
  </div>
  <div class="table-container fs-smaller" role="table" *ngIf="templatePlaceholders?.length">
    <div class="flex-table header border-top border-bottom align-items-center" role="rowgroup">
      <div class="flex-table-row first fw-bold text-center" role="columnheader" [tooltip]="'APP.TOOLTIP.Position' | translate" placement="top">
        <span class="">{{ '#' | translate }}</span>
      </div>
      <div class="flex-table-row second fw-bold" role="columnheader">
        <span class="">{{ 'APP.LABEL.Placeholder' | translate }}</span>
      </div>
      <div class="flex-table-row thirth fw-bold text-center text-truncate" role="columnheader">
        <span class="">{{ 'APP.LABEL.Mandatory' | translate }}</span>
      </div>
      <div class="flex-table-row fourth fw-bold text-end" role="columnheader">
        <span class="">{{ '&nbsp;' | translate }}</span>
      </div>
    </div>
  </div>
  <div class="table-container" [class.disabled]="_isNew" role="table" cdkDropList (cdkDropListDropped)="drop($event)" cdkDropListLockAxis="y" [cdkDropListDisabled]="!_editPlaceholders || _isNew">
    <div class="flex-table align-items-center border-bottom" role="rowgroup" *ngFor="let ph of templatePlaceholders" cdkDrag>
      <div class="flex-table-row first first-top text-center" role="columnheader">
        <div class="placeholder-drag-handle" [class.cursor-move]="_editPlaceholders" cdkDragHandle>
          <i class="bi-grip-vertical" *ngIf="_editPlaceholders"></i><span class="mt-0 mb-1">{{ ph.position }}</span>
        </div>
        <!-- <i class="bi-exclamation-circle-fill text-primary smaller- fs-6 d-block d-md-none" *ngIf="ph.mandatory"></i> -->
      </div>
      <div class="flex-table-row second" role="columnheader">
        <div class="">
          <ui-item-row class="item-row-small"
            [data]="{ source: ph._embedded.placeholder }"
            [config]="placeholdersConfig"
            [configRow]="'itemRowAlt'"
            [hasLink]="false">
          </ui-item-row>
        </div>
        <div class="d-block d-md-none">
          <span class="badge rounded-pill text-bg-dark" *ngIf="ph.mandatory">{{ 'APP.LABEL.Mandatory' | translate }}</span>
        </div>
      </div>
      <div class="flex-table-row text-center thirth" role="columnheader">
        <i class="bi-check-lg smaller- fs-6" *ngIf="ph.mandatory && !_editPlaceholders"></i>
        <input type="checkbox" [name]="ph.placeholderId" [(ngModel)]="ph.mandatory" *ngIf="_editPlaceholders" (ngModelChange)="onChangeMandatory($event, ph)">
        <!-- <span class="badge rounded-pill text-bg-dark" *ngIf="ph.mandatory">{{ 'APP.LABEL.Mandatory' | translate }}</span> -->
      </div>
      <div class="flex-table-row text-end fourth" role="columnheader">
        <button type="button" class="btn btn-default btn-md gl-button btn-icon" (click)="_onDelete(ph)" *ngIf="_editPlaceholders" [disabled]="_isNew">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="PLACEHOLDERS-LIST px-2 py-2" *ngIf="!_flexList">
  <ul class="list-group placeholder-list" cdkDropList (cdkDropListDropped)="drop($event)" cdkDropListLockAxis="y" [cdkDropListDisabled]="!_editPlaceholders || _isNew">
    <li class="list-group-item placeholder-box text-center py-3" *ngIf="!templatePlaceholders?.length">
      <span class="">{{ 'APP.MESSAGE.NoPlaceholder' | translate }}</span>
    </li>
    <li class="list-group-item placeholder-box pe-2" *ngFor="let ph of templatePlaceholders" cdkDrag>
      <div class="d-flex" *ngIf="ph._embedded">
        <div class="text-center me-3 placeholder-drag-handle" [class.cursor-move]="_editPlaceholders" cdkDragHandle>
          <i class="bi-grip-vertical" *ngIf="_editPlaceholders"></i><span class="mt-0 mb-1">{{ ph.position }}</span>
          <!-- <i class="bi-exclamation-circle-fill text-primary smaller- fs-6 d-block d-md-none" *ngIf="ph.mandatory"></i> -->
        </div>
        <div class="flex-grow-1">
          <app-placeholder-item
            [templateId]="id"
            [data]="ph"
            [config]="placeholdersConfig"
            [editable]="_editPlaceholders"
            (save)="_onSave($event)"
            (delete)="_onDelete($event)">
          </app-placeholder-item>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="row-content-block footer-block text-end mt-1 py-2" *ngIf="_editPlaceholders">
<!-- <div class="d-flex justify-content-between align-items-center mt-2"> -->
  <!-- <span class="spinner-border spinner-border-sm text-primary me-3-" *ngIf="_spin"></span>  -->
  <!-- <span class="">&nbsp;</span>  -->
  <div class="position-relative">
    <div role="group" class="gl-w-full btn-group-">
      <!-- <button aria-label="Add placeholder" type="button" class="btn btn-default btn-md gl-button btn-icon me-2" (click)="_onNew()" [tooltip]="'APP.TOOLTIP.AddPlaceholder' | translate" placement="left" *ngIf="!_isNew">
        <i class="bi-plus-lg"></i>
      </button> -->
      <!-- <span class="me-3 text-danger small" *ngIf="_modifiedPlaceholders"><i class="bi-circle-fill"></i></span> -->
      <button aria-label="Add placeholder" type="button" class="btn btn-confirm btn-md gl-button btn-icon" (click)="_onSavePlaceholders($event)" [disabled]="!_modifiedPlaceholders">
        <span class="">{{ 'APP.BUTTON.Save' | translate }}</span>
      </button>
    </div>
  </div>
</div>
<div id="edit-container" class="table-container mt-3" *ngIf="_isNew || _createPlaceholder">
  <div class="border border-2 border-danger">
    <app-placeholder-item
      [templateId]="id"
      [data]="null"
      [createPlaceholder]="_createPlaceholder"
      [toExcluded]="templatePlaceholders"
      [config]="placeholdersConfig"
      (close)="_onClose($event)"
      (save)="_onSave($event)">
    </app-placeholder-item>
  </div>
</div>
