<div id="route-section" class="">
  <div class="alert-wrapper gp-force-block-formatting-context">
    <ui-breadcrumb [breadcrumbs]="breadcrumbs" [classContainer]="'limit-container-width'" (onClick)="onBreadcrumb($event)"></ui-breadcrumb>
  </div>
  <div class="top-area container-fluid container-limited limit-container-width px-0">
    <h3 class="page-title" *ngIf="_isEdit && !_isNew">{{ 'APP.TITLE.EditFile' | translate }}</h3>
    <h3 class="page-title" *ngIf="_isEdit && _isNew">{{ 'APP.TITLE.NewFile' | translate }}</h3>
    <div class="d-flex flex-grow-1">&nbsp;</div>
    <!-- <ng-template [appHasPermission]="'SETTINGS'" [action]="'edit'"> -->
      <div class="nav-controls">
        <div class="position-relative" *ngIf="!_isEdit && !_spin && _editable">
          <button aria-expanded="false" type="button" class="btn btn-default btn-md gl-button btn-icon" [tooltip]="'APP.TOOLTIP.EditFile' | translate" (click)="_editFile()">
            <i class="bi bi-pencil"></i>
          </button>
        </div>
        <!-- <ng-template [appHasPermission]="'SETTINGS'" [action]="'delete'"> -->
          <div role="group" class="btn-group- ms-1" *ngIf="!_isEdit && !_spin && _deleteable">
            <div class="dropdown b-dropdown gl-new-dropdown btn-group" id="actions">
              <button aria-haspopup="true" aria-expanded="false" type="button" class="btn dropdown-toggle btn-default btn-md gl-button gl-dropdown-toggle btn-default-tertiary dropdown-icon-only dropdown-toggle-no-caret" data-bs-toggle="dropdown" data-bs-display="static" id="other_actions">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul role="menu" tabindex="-1" class="dropdown-menu dropdown-menu-end" aria-labelledby="sort_toggle">
                <div class="gl-new-dropdown-inner">
                  <div class="gl-new-dropdown-contents">
                    <li role="presentation" class="gl-new-dropdown-item">
                      <button role="menuitem" type="button" class="dropdown-item" (click)="_deleteFile()">
                        <div class="gl-icon s16 gl-new-dropdown-item-check-icon gl-mt-3 gl-align-self-start">
                          <i class="bi bi-trash text-danger"></i>
                        </div>
                        <div class="gl-new-dropdown-item-text-wrapper">
                          <p class="gl-new-dropdown-item-text-primary">{{ 'APP.MENU.DeleteFile' | translate }}</p>
                        </div>
                      </button>
                    </li>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        <!-- </ng-template> -->
        <div role="group" class="gl-w-full btn-group- position-relative" *ngIf="_isEdit && !_spin">
          <button aria-haspopup="true" aria-expanded="false" type="button" class="btn btn-default btn-md gl-button btn-default-tertiary ms-2" [tooltip]="(_isNew ? 'APP.TOOLTIP.CancelNew' : 'APP.TOOLTIP.CancelEdit') | translate" (click)="_onCancelEdit()">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
    <!-- </ng-template> -->
  </div>
  <section class="container-fluid container-limited limit-container-width container-scroller container-scroller-no-search">
    <ui-box-spinner [color]="'accent'" [diameter]="48" [strokeWidth]="4" *ngIf="_spin && !_isNew"></ui-box-spinner>
    <ui-box-message *ngIf="!file && !_spin && !_isNew"
      [image]="'./assets/images/illustrations/no-data.svg'"
      [message]="'APP.MESSAGE.NoData' | translate"
      [subMessage]="'APP.MESSAGE.NoDataHelp' | translate">
    </ui-box-message>

    <div class="settings" *ngIf="(file && !_spin) || _isNew">
      <div class="settings-header d-none">
        <h4 class="settings-title">{{ 'APP.FILES.TITLE.GeneralInformations' | translate }}</h4>
        <ng-template [appHasPermission]="'SETTINGS'" [action]="'edit'">
          <button aria-expanded="false" type="button" class="btn btn-default btn-md gl-button btn-icon" [tooltip]="'APP.TOOLTIP.EditFile' | translate" (click)="_editFile()" *ngIf="!_isEdit && !_spin">
            <i class="bi bi-pencil"></i>
          </button>
          <div role="group" class="gl-w-full btn-group-" *ngIf="_isEdit && !_spin">
            <button aria-haspopup="true" aria-expanded="false" type="button" class="btn btn-default btn-md gl-button btn-default-tertiary ms-2 btn-icon" [tooltip]="(_isNew ? 'APP.TOOLTIP.CancelNew' : 'APP.TOOLTIP.CancelEdit') | translate" (click)="_onCancelEdit()">
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
        </ng-template>
        <p markdown>{{ 'APP.FILES.TITLE.GeneralInformations_sub' | translate }}</p>
      </div>
      <div class="settings-content">
        <div class="gl-alert gl-alert-danger col-md-12 mb-5" *ngIf="!_isEdit && _error">
          {{ _errorMsg }}
        </div>
        <div class="edit-form" *ngIf="_isEdit">
          <form novalidate class="issue-form common-note-form mt-3 gl-show-field-errors gfm-form" [class.form-readonly]="!_isEdit" [formGroup]="_formGroup" (submit)="_onSubmit(_formGroup.value)">
            <div class="row gl-mt-3">
              <div class="col-lg-4 mb-4">
                <h4 class="gl-mt-0 text-break">{{ 'APP.FILES.TITLE.GeneralInformations' | translate }}</h4>
                <div class="text-break" markdown>{{ 'APP.FILES.TITLE.GeneralInformations_sub' | translate }}</div>
              </div>
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="label-bold" for="organization_id">{{ 'APP.LABEL.Organization' | translate }} <span appMarkAsterisk [formGroup]="_formGroup" [controlName]="'organization_id'" *ngIf="_isEdit"></span></label>
                      <div class="" *ngIf="_isEdit">
                        <ng-select class="" [class.gl-field-error-outline]="_hasControlError('organization_id')"
                          [items]="organizations$ | async"
                          [trackByFn]="trackByFn"
                          [typeahead]="organizationsInput$"
                          [minTermLength]="minLengthTerm" 
                          [notFoundText]="'APP.MESSAGE.NotFoundItem' | translate"
                          [typeToSearchText]="'APP.MESSAGE.PleaseEnterMin' | translate:{ lengthTerm: minLengthTerm }"
                          bindValue="id"
                          labelForId="organization_id"
                          [editableSearchTerm]="true"
                          (change)="onChangeValue()"
                          formControlName="organization_id">
                          <ng-template ng-label-tmp let-item="item">
                            <div class="d-flex flex-row align-items-center">
                              <div class="flex-shrink-0 menu-logo logo-miniature" [style.backgroundImage]="item | mapper: _orgLogoBackground"></div>
                              <span class="flex-shrink-1 ms-3">{{item.legal_name}}</span>
                            </div>
                          </ng-template>
                          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                            <div class="d-flex flex-row align-items-center">
                              <div class="flex-shrink-0 menu-logo logo-miniature" [style.backgroundImage]="item | mapper: _orgLogoBackground"></div>
                              <span class="flex-shrink-1 ms-3">{{item.legal_name}}</span>
                            </div>
                          </ng-template>
                        </ng-select>
                        <p *ngIf="f['organization_id'].invalid && (f['organization_id'].dirty || f['organization_id'].touched)" class="form-text text-danger">
                          <span *ngIf="f['organization_id'].errors && f['organization_id'].errors['required']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.FieldRequired' | translate }}</span>
                          <span *ngIf="f['organization_id'].errors && f['organization_id'].errors['pattern']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.Serviceorganization_id' | translate }}</span>
                        </p>
                        <ui-input-help field="organization_id" context="SERVICE"></ui-input-help>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="label-bold" for="service_id">{{ 'APP.LABEL.ServiceName' | translate }} <span appMarkAsterisk [formGroup]="_formGroup" [controlName]="'service_id'" *ngIf="_isEdit"></span></label>
                      <div class="" *ngIf="_isEdit">
                        <ng-select class="" [class.gl-field-error-outline]="_hasControlError('service_id')"
                          [items]="services$ | async"
                          [trackByFn]="trackByFn"
                          [typeahead]="servicesInput$"
                          [minTermLength]="minLengthTerm" 
                          [notFoundText]="'APP.MESSAGE.NotFoundItem' | translate"
                          [typeToSearchText]="'APP.MESSAGE.PleaseEnterMin' | translate:{ lengthTerm: minLengthTerm }"
                          bindValue="id"
                          labelForId="service_id"
                          [editableSearchTerm]="true"
                          (change)="onChangeValue()"
                          formControlName="service_id">
                          <ng-template ng-label-tmp let-item="item">
                            <div class="d-flex flex-row align-items-center">
                              <div class="flex-shrink-0 menu-logo logo-miniature" [style.backgroundImage]="item | mapper: _serviceLogoBackground"></div>
                              <span class="flex-shrink-1 ms-3">{{item.service_name}}</span>
                            </div>
                          </ng-template>
                          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                            <div class="d-flex flex-row align-items-center">
                              <div class="flex-shrink-0 menu-logo logo-miniature" [style.backgroundImage]="item | mapper: _serviceLogoBackground"></div>
                              <span class="flex-shrink-1 ms-3">{{item.service_name}}</span>
                            </div>
                          </ng-template>
                        </ng-select>
                        <p *ngIf="f['service_id'].invalid && (f['service_id'].dirty || f['service_id'].touched)" class="form-text text-danger">
                          <span *ngIf="f['service_id'].errors && f['service_id'].errors['required']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.FieldRequired' | translate }}</span>
                        </p>
                        <ui-input-help field="service_id" context="SERVICE"></ui-input-help>
                      </div>
                    </div>
                    <div class="form-group service_instance">
                      <label class="label-bold" for="service_instance">{{ 'APP.LABEL.Template' | translate }} <span appMarkAsterisk [formGroup]="_formGroup" [controlName]="'service_instance'" *ngIf="_isEdit"></span><span class="ms-2" (click)="openTemplateInfo()" *ngIf="serviceInstancesSelected$"><i class="bi bi-info-circle"></i></span></label>
                      <div class="">
                        <ng-select class="" [class.gl-field-error-outline]="_hasControlError('service_instance')"
                          [items]="serviceInstances$ | async"
                          [selectOnTab]="true"
                          [trackByFn]="trackByFn"
                          [typeahead]="serviceInstancesInput$"
                          [minTermLength]="minLengthTerm" 
                          [notFoundText]="'APP.MESSAGE.NotFoundItem' | translate"
                          [typeToSearchText]="'APP.MESSAGE.PleaseEnterMin' | translate:{ lengthTerm: minLengthTerm }"
                          bindValue="id"
                          labelForId="service_instance"
                          [placeholder]="'APP.PLACEHOLDER.SelectTemplate' | translate"
                          [notFoundText]="'APP.MESSAGE.NotFoundText' | translate"
                          [loadingText]="'APP.MESSAGE.LoadingText' | translate"
                          [editableSearchTerm]="true"
                          (change)="onChangeService($event)"
                          formControlName="service_instance">
                          <ng-template ng-label-tmp let-item="item">
                            <div class="d-flex flex-row align-items-center">
                              <span class="flex-shrink-1 ms-3-">{{item.label}}</span>
                            </div>
                          </ng-template>
                          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                            <div class="fw-bold">{{ item.label }}</div>
                            <div class="">
                              <span class="small text-muted">{{ item.template_description }}</span>
                            </div>
                          </ng-template>
                        </ng-select>
                        <p *ngIf="f['service_instance'].invalid && (f['service_instance'].dirty || f['service_instance'].touched)" class="form-text text-danger">
                          <span *ngIf="f['service_instance'].errors && f['service_instance'].errors['required']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.FieldRequired' | translate }}</span>
                        </p>
                        <ui-input-help field="service_instance" context="FILE"></ui-input-help>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mb-3" *ngIf="serviceInstancesSelected$ && false">
                    <div class="d-flex flex-row justify-content-between border px-3 pt-3">
                      <!-- <div class="form-group organization">
                        <label class="label-bold">{{ 'APP.LABEL.Organization' | translate }}</label>
                        <div class="pt-1">
                          <span>{{ serviceInstancesSelected$.organization.legal_name }}</span>
                        </div>
                      </div>
                      <div class="form-group service">
                        <label class="label-bold">{{ 'APP.LABEL.Service' | translate }}</label>
                        <div class="pt-1">
                          <span>{{ serviceInstancesSelected$.service.service_name }}</span>
                        </div>
                      </div> -->
                      <div class="form-group template">
                        <label class="label-bold">
                          <span>{{ 'APP.LABEL.Template' | translate }}</span><span class="ms-2" (click)="openTemplateInfo()"><i class="bi bi-info-circle"></i></span>
                        </label>
                        <div class="pt-1">
                          <span>{{ serviceInstancesSelected$.template.subject }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <div class="form-group file">
                      <label class="label-bold" for="file">{{ 'APP.LABEL.File' | translate }} <span appMarkAsterisk [formGroup]="_formGroup" [controlName]="'file'" *ngIf="_isEdit"></span></label>
                      <div class="" *ngIf="_isEdit">
                        <input type="file" class="form-control form-control-sm" formControlName="file" (change)="_onFileLoaded($event, 'file')" [class.gl-field-error-outline]="_hasControlError('file')">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="gl-alert gl-alert-danger col-md-12 mt-3" *ngIf="_isEdit && _error">
              {{ _errorMsg }}
            </div>

            <div class="row-content-block footer-block" *ngIf="_isEdit">
              <button aria-label="Save" type="submit" class="gl-button btn btn-confirm gl-mr-2" [disabled]="_formGroup.invalid">
                {{ 'APP.BUTTON.Save' | translate }}
              </button>
              <button aria-label="Cancel" type="button" class="btn gl-button btn-default" (click)="_onCancelEdit()">
                {{ 'APP.BUTTON.Cancel' | translate }}
              </button>
            </div>
          </form>
        </div>
        <div class="" *ngIf="!_isEdit">
          <!-- <div class="row gl-mt-3">
            <div class="col-lg-12">
              <ui-box-collapse *ngIf="file && !_spin"
                [opened]="true"
                [showCollapse]="appConfig.AppConfig?.Layout?.Details?.Collapsible?.informations"
                [id]="'general-informations'"
                [title]="'APP.FILES.TITLE.GeneralInformations' | translate"
                [subTitle]="'APP.FILES.TITLE.GeneralInformations_sub' | translate">
                <ui-data-view
                  [data]="file"
                  [config]="config"
                  [columns]="appConfig.AppConfig?.Layout?.Details?.columns || 6"
                  (downloadClick)="_downloadAction($event)">
                </ui-data-view>
              </ui-box-collapse>
            </div>
          </div> -->
          <div class="row gl-mt-3">
            <div class="col-lg-4 mb-4">
              <h4 class="gl-mt-0 text-break">{{ 'APP.FILES.TITLE.GeneralInformations' | translate }}</h4>
              <div class="text-break" markdown>{{ 'APP.FILES.TITLE.GeneralInformations_sub' | translate }}</div>
            </div>
            <div class="col-lg-8">
              <ui-data-view
                [data]="file"
                [config]="config"
                [columns]="appConfig.AppConfig?.Layout?.Details?.columns || 6"
                (downloadClick)="_downloadAction($event)">
              </ui-data-view>
            </div>
          </div>
        </div>
      </div>
      <div class="settings-content border-top mb-3" *ngIf="_stats.length > 0">
        <div class="row gl-mt-3 mt-4">
          <div class="col-lg-4 mb-4">
            <h4 class="gl-mt-0 text-break">{{ 'APP.FILES.TITLE.StatsMessages' | translate }}</h4>
            <div class="text-break" markdown>{{ 'APP.FILES.TITLE.StatsMessages_sub' | translate }}</div>
          </div>
          <div class="col-lg-8">
            <div class="px-3 py-1 w-100 mb-5" [ngStyle]="{ height: chartOptions.chartHeight }">
              <ngx-charts-advanced-pie-chart
                #pieChart
                [view]="view"
                [results]="_stats" 
                [schemeType]="chartOptions.schemeType"
                [animations]="chartOptions.animations"
                [labels]="chartOptions.labels"
                [legend]="chartOptions.showLegend"
                [legendTitle]="'APP.LABEL.Legend' | translate"
                [label]="'APP.LABEL.Total' | translate"
                [customColors]="customColors"
                [labelFormatting]="customLabel"
              ></ngx-charts-advanced-pie-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="settings border-top mt-3" *ngIf="!_isNew">
        <div class="settings-header">
          <h4 class="settings-title">{{ 'APP.FILES.TITLE.FileMessages' | translate }}</h4>
          <button class="btn gl-button btn-default" type="button" (click)="onExport()" [disabled]="_exportSpin || !file?.error_messages">
            <span>{{'APP.BUTTON.Export' | translate }}</span>
            <i class="bi bi-upload ms-2" *ngIf="!_exportSpin"></i>
            <span class="spinner-border spinner-border-sm ms-2" *ngIf="_exportSpin"></span>
          </button>
          <p markdown>{{ 'APP.FILES.TITLE.FileMessages_sub' | translate }}<span class="badge badge-muted badge-pill gp-badge sm ms-2 d-none">{{ file?.error_messages || 0 }}</span></p>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #templateInfo>
  <div class="modal-content">
    <div class="modal-header pb-2">
      <h5 class="modal-title pull-left">{{ 'APP.TITLE.Template' | translate }}</h5>
      <button type="button" class="btn btn-default btn-md gl-tertiary pull-right p-0" aria-label="Close" (click)="closeModal()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="p-3">
        <div class="view-template" style="min-height: 150px;">
          <app-template-view
            [id]="_isEdit ? serviceInstancesSelected$.template_id : _template.id"
            [config]="templateConfig">
          </app-template-view>
        </div>
      </div>
    </div>
  </div>
</ng-template>
